<div class="search">
  <div class="center-block col-md-9 col-sm-9 col-lg-9">
    <%= render 'layouts/search' %>
    <br>
    <%= link_to "Подать объявление", new_profile_ad_path(current_user.profile) , class: "btn btn-success" %>
  </div>
</div>
<br>
<div class="row center-block col-md-9 col-sm-9 col-lg-9">
  <% @categories.each_slice(3) do |cons| %>
  <div class="col-md-4"> 
    <% cons.each do |c| %>
      <ul class="nav nav-pills">
        <li role="presentation" class="active" style="width:100%;"><%= link_to c.name, "" %></li>
        <% c.children.each do |child| %>
          <li role="presentation"><%= link_to "#{child.name} (#{child.children_count})", "" %></li>
        <% end %>
      </ul>
    <% end %>
  </div >   
  <% end %>      
</div>
