<div class="row">
  <div class="alert alert-success" role="alert">
    <h4 class="center_align">
      <%= t('edit_ad') %>
    </h4>
  </div>
</div>

<%= render 'form', ad: @ad, url: profile_ad_path(current_user.profile, @ad) %>

