// Place all the styles related to the ads controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

label {
    display: block;
}

input.error {
    border: 1px solid red;
}

label.error {
    font-weight: normal;
    color: red;
}

.select_category {
  overflow: hidden;
  padding: 5px;
  float: left;
}

.field {
  clear: both;
}

.root-category {
  background-color: #d5e9f6;
}