// Place all the styles related to the profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.dropzone .dz-preview .dz-error-message {
    top: 150px!important;
}

.profile-ad-images {
  position: relative;
  display: inline-block;
  vertical-align: top;
  min-height: 100px;
  a {
    font-size: 14px;
    text-align: center;
    display: block;
    cursor: pointer;
    border: none;
    &:hover {
      text-decoration: underline;
    }
  }
}